<header>
	<h1 class="site-title">
		{{title}}
 	</h1>
	<nav class ="navbar">
		<ul class ="navlist">
			<li class = "navitem"><a href="#">{{navbar}}</a></li>
			<li class = "navitem right">
				<input type = "text" placeholder = "Search..." class = "site-search "/>
			</li>
		</ul>
	</nav>
</header>