
/*Notes
Colors:
	Blue: #14a697
	Yellow: #f2c12e
	Orange: #f27649
	Red: #f25252

	Source Image: https://cdn.tutsplus.com/wp/uploads/2014/01/preview-image@2x.png;

/*
/**************************************/
/*Universal Styling*/
body{
   margin: 0px 0px 0px 0px;
   background-color: lightgray;
   font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

a {
	color: #444;
  	text-decoration: none;
}

a:hover, a:focus {
	color: #f27649;
}

input {
	outline: none;
	width: 100%;
}

img {
   border-radius: 10px;
   width: 300px;
   height: 300px;
   object-fit: cover;
}



/**************************************/
/*Site title and Navbar*/

.site-title {
   display: block;
   text-align: center;
   margin: 0;
   font-size: 60px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: #3B3738;
   font-weight: lighter;
   color: #FFFFFF;
   margin: 0;
}

.navbar {
	background-color: #fff;
	font-size: 18px;
	line-height: 35px;
}

.navlist {
	list-style: none;
	background-color: #fff;
	margin: 0 20px 0 20px;
	padding: 0;
}

.navitem {
	display: inline-block;
	padding: 0px 10px 0px 10px;
   margin-left: 20px;
}

.right {
	float: right;
	height: 35px;
   padding-right: 20px;
}

.site-title.navbar {
	position: fixed;
	display: block;
}

.site-search {
	display: block;
	position: relative;
	top: 18%;

	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #dedede;

	background-color: #eee;
}


/**************************************/
/*Main content*/

.Galleries {
   padding: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

/**************************************/
/*Gallery Cards*/

.Gallery {
   width: 300px;
   height: 300px;
   margin: 20px;
}


.popup {
   display: none;
   font-size: 20px;
   text-align: center;
}
