/*Notes
Colors:
	Blue: #14a697
	Yellow: #f2c12e
	Orange: #f27649
	Red: #f25252

	Source Image: https://cdn.tutsplus.com/wp/uploads/2014/01/preview-image@2x.png;

/*
/**************************************/
/*Universal Styling*/
body {
	background-color: #eee;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

a {
	color: #444;
  	text-decoration: none;
}

a:hover, a:focus {
	color: #f27649;
}

img {
	/*max-width: 100%;
	max-height: 100%;*/
}

input {
	outline: none;
}



/**************************************/
/*Site title and Navbar*/

.site-title {
	margin: 0px 0px 0px 0px;
	padding: 20px;
	background-color: #14a697;
	color: #fff;

	text-align: left;
	font-size: 48px;
}

.navbar {
	background-color: #fff;
	font-size: 18px;
	line-height: 35px;
}

.navlist {
	list-style: none;
	background-color: #fff;
	margin: 0 20px 0 20px;
	padding: 0;
}

.navitem {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}

.right {
	float: right;
	height: 35px;
}

.site-title.navbar {
	position: fixed;
	display: block;
}

.site-search {
	display: block;
	position: relative;
	top: 17.5%;

	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #dedede;

	background-color: #eee;
}


/**************************************/
/*Main content*/

.content-container {
	margin: 25px 5%;
	display: flex;
	flex-wrap: wrap;

}

/**************************************/
/*Gallery Cards*/

#card-wrapper {
	background-color: #fff;
	border: 1px solid #bbb;
	border-radius: 2px;
	padding: 7px;
	width: 100%;
}

.gallery-card {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 18.5%;
	margin: 10px;
	position: relative;
	
	background-color: #eee;
}

.gallery-content {
	text-align: center;
}

.image-container {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.gallery-title {
	height: 25px;
	margin: 5px 10px 0px 10px;
}

.image-container img {
	max-height: 100%;
	max-width: 100%;
	display: block;	

}