<!DOCTYPE html>
  <head>
	<title>Photography Galleries</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
  </head>
	 <body>
	 
	 {{{body}}}

	 </body>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
     <script type="text/javascript" src="index.js" charset="utf-8"></script>

</html>