{{> header}}

<form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <table>
               <tbody id="newinput">
                <tr>
                    <td class="col1"><label for="name" class="name">Gallery Name</label></td>
                    <td class="col2"><input type="text" class="col2" id="galleryname" name="galleryname" placeholder="Enter Gallery Name" />
                    <br/></td>
                </tr>

                <tr>
                    <td class="col1"><label for="author" class="name">Author</label></td>
                    <td class="col2"><input type="text" class = "col2" id="author" name="author" placeholder="Enter Author Name" />
                    <br/></td>
                </tr>

                <tr>
                    <td class="col1"><label for="mainimg" class="name">Main Image URL: </label></td>
                    <td class="col2"><input type="url" class="col2" id="mainimg" name="mainimg" placeholder="Enter a URL"></input>
                    <br/></td>
                </tr>

                <tr>
                   <td class="col1"></td>
                   <td class="col2"><button id="button" type="button" for="addtionalimgs" class="imageurl0"><i class="fa fa-plus" aria-hidden="true"></i>Add Addtional Image</button></td>
                </tr>
             </tbody>
              </table>

              <div class="button-container">
                <input type="submit" class="submit" value="Submit Gallery" />
              </div>
         </fieldset>
      </form>
<script type="text/javascript" src="/addGallery.js" charset="utf-8"></script>
