{{> header}}

<form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <label for="galleryname">Gallery Name:</label>
            <input type="text" id="galleryname" name="galleryname" placeholder="Enter your Gallery Name" />
            <br />
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" placeholder="Enter your Author Name" />
            <br />

            <label for="imageurl1">Image Url 1:</label>
            <textarea type="url" id="imageurl1" name="imageurl1" placeholder="Enter a URL for the Main Photo"></textarea>
            <br />
            <label for="imageurl2">Image Url 2:</label>
            <textarea type="url" id="imageurl2" name="imageurl2" placeholder="Enter a URL for the Photo"></textarea>
            <br />
            <label for="imageurl3">Image Url 3:</label>
            <textarea type="url" id="imageurl3" name="imageurl3" placeholder="Enter a URL for the Photo"></textarea>
            <br />
            <label for="imageurl4">Image Url 4:</label>
            <textarea type="url" id="imageurl4" name="imageurl4" placeholder="Enter a URL for the Photo"></textarea>
            <br />
            <label for="imageurl5">Image Url 5:</label>
            <textarea type="url" id="imageurl5" name="imageurl5" placeholder="Enter a URL for the Photo"></textarea>
            <br />

            <input type="submit" value="Submit Gallery" />
         </fieldset>
      </form>
