{{> header}}

<form action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <table>
                <tr>
                    <td class="col1"><label for="galleryname" class="name">Gallery Name</label></th>
                    <td class="col2"><input type="text" class="col2" id="galleryname" name="galleryname" placeholder="Enter Gallery Name" />
                    <br/></th>
                </tr>
                
                <tr>
                    <td class="col1"><label for="author" class="name">Author</label></th>
                    <td class="col2"><input type="text" class = "col2" id="author" name="author" placeholder="Enter Author Name" />
                    <br/></th>
                </tr>
                
                <tr>
                    <td class="col1"><label for="imageurl1" class="imageurl0">Main Image</label></th>
                    <td class="col2"><input type="url" class="col2" id="imageurl1" name="imageurl1" placeholder="Enter a URL"></input>
                    <br/></th>
                </tr>
                
                <tr>
                    <td class="col1"><label for="imageurl2" class="imageurl1">Image</label></th>
                    <td class="col2"><input type="url" class="col2" id="imageurl2" name="imageurl2" placeholder="Enter a URL"></input>
                    <br/></th>
                </tr>
                
                <tr>
                    <td class="col1"><label for="imageurl3" class="imageurl2">Image</label></th>
                    <td class="col2"><input type="url" class="col2" id="imageurl3" name="imageurl3" placeholder="Enter a URL"></input>
                    <br/></th>
                </tr>

                <tr>
                    <td class="col1"><label for="imageurl4" class="imageurl3">Image</label></th>
                    <td class="col2"><input type="url" class="col2" id="imageurl4" name="imageurl4" placeholder="Enter a URL"></input>
                    <br/></th>
                </tr>

                <tr>
                    <td class="col1"><label for="imageurl5" class="imageurl4">Image</label></th>
                    <td class="col2"><input type="url" class="col2" id="imageurl5" name="imageurl5" placeholder="Enter a URL"></input>
                    <br/></th>
                </tr>

              </table>

              <div class="button-container">
                <input type="submit" class="submit" value="Submit Gallery" />
              </div>
         </fieldset>
      </form>
