{{>header}}

<main class="pictures">

   <div class="center-photos">
      <div class="preview-img">
        <img id="large-image" name="preview" src="{{mainimg}}"/>
      </div>
    <div class="mini-imgs">
      <img class="preview-small" name="main-photo" src="{{mainimg}}"/>
      {{#each additionalimgs as |item index|}}
      			<img class="preview-small" name="{{index}}" src="{{image}}"/>
      {{/each}}
    </div>
</div>

</main>
<script type="text/javascript" src="/gallery.js" charset="utf-8"></script>
