{{>header}}

<main class="pictures">

<body>
      <div class="preview-img" align="center">
        <img src="{{mainimg}}"/>
      </div>
    <div class="mini-imgs" align="center" id="_select">
      <img src="{{mainimg}}"/>
      {{#each addtionalimgs}}
      			<img src="{{image}}"/>
      {{/each}}
    </div>
    <br>

 </body>

</main>
