{{>header}}

<main class="pictures">

<body>
   <div class="center-photos">
      <div class="preview-img">
        <img src="{{mainimg}}"/>
      </div>
    <div class="mini-imgs">
      <img id="main-photo" src="{{mainimg}}"/>
      {{#each addtionalimgs as |item index|}}
      			<img id="{{index}}" src="{{image}}"/>
      {{/each}}
    </div>
</div>

 </body>

</main>
