{{>header}}

<main class="pictures">

{{#each galleries as |item index|}}
	<div class="Gallery">
		<a href="gallery/{{index}}">
			<div class="card-backdrop">{{name}} | {{author}}</div>
			<img src="{{mainimg}}"/>
		</a>
	</div>
{{/each}}

</main>
<script type="text/javascript" src="/index.js" charset="utf-8"></script>
